<h3><%= @post.question %>&nbsp;&nbsp;&nbsp; <span class="poster">posted by <%= @post.user.username %></span><br></h3>
<img src="<%= @post.photo_url %>" class="image">

<div class='post-container'>
    <article id="<%= @post.id %>">
      <form method="post" action='/posts/<%= @post.id %>/vote' class="inline-vote-form-upvote" >
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-arrow-circle-up vote-button upvote-button"></button>
      </form>
      <span class='points'><center><%= @post.votes.count %></center></span>
      <form method="post" action='/posts/<%= @post.id %>/vote' class="inline-vote-form-downvote" >
        <input type="hidden" name="_method" value="delete">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-arrow-circle-down vote-button downvote-button"></button>
      </form>
    </article>
</div><br>


 <a href="/posts/#{@post.id}">Comment?</a>
<p><%= @post.answers.count %> Answers</p>
<ul style="list-style: none;">
  <% @post.answers.each do |answer| %>

    <% if @post.best_answer_id == answer.id %>
      <i class="fa fa-paw" aria-hidden="true"></i> <span id="bestanswer">BEST ANSWER!</span>
    <% end %>

    <li class='list-answer'><span id="description-text"><%= answer.description_text %></span><br>&nbsp;&nbsp;<span class="poster">posted by <%= answer.user.username %></span></li><br>
    <!-- <a href="/answers/#{@answer.id}">Comment?</a> -->
      <ul style="list-style: none;">

<!-- BEST ANSWER -->
<% if poster? %>
  <form action="/answers" method="post">
    <input type="hidden" name="answer_id" value="<%= answer.id %>"/>
    <input type="hidden" name="post_id" value="<%= @post.id %>"/>
    <input type="submit" value="Best Answer?">
  </form>
<% end %>
<!-- BEST ANSWER -->

  <div class='answer-container'>

    <article id="<%= @post.id %>"><center>
      <form method="post" action='/posts/<%= @post.id %>/vote' class="inline vote-form" >
        <i type="submit" name="submit_param" value="submit_value" class="fa fa-arrow-circle-up vote-button upvote-button"></i>
      </form>
      <span class='points'><%= answer.vote_tally %></span>
      <form method="post" action='/posts/<%= @post.id %>/vote' class="inline vote-form" >
        <i type="submit" name="submit_param" value="submit_value" class="fa fa-arrow-circle-down vote-button downvote-button"></i>
      </form></center>
    </article>
  </div>
        <% answer.comments.each do |comment| %>
          <li class="list-comment"><%= comment.description_text %></li><br>
        <% end %>
      </ul>
  <% end %>
</ul>




<%= erb :'answers/new' %>


