<center><div class="wrap"><h1>GIF Generator!</h1></div></center>

<div class="wrapper">
  <div class="box a"><%= erb :'/_giph_with_form'  %></div>
  <div class="box b"><%= erb :'/_giph_with_form'  %></div>
  <div class="box c"><%= erb :'/_giph_with_form'  %></div>
  <div class="box d"><%= erb :'/_giph_with_form'  %></div>
  <div class="box e"><%= erb :'/_giph_with_form'  %></div>
  <div class="box f"><%= erb :'/_giph_with_form'  %></div>
</div>
